.header{
  font-size: 2rem;
  margin:1px auto;
  padding: 20px 5px;
  background-color: rgb(2, 2, 90);
  color: white;
  text-align: center;
  font-weight: bold;
}
.form{
  width: 50%;
margin: 3rem auto;
align-items: center;




}
#outlined-basic ::before{
  color: rgb(10, 23, 95);
  border: 2px solid black;
  
}

#button{
  background-color: rgb(3, 109, 49);
  margin-left: 1rem;
}
.data{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
}
.data-heading{

  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 0px 3rem;
 background-color: #51b1bd;
  box-shadow: rgba(100, 100, 120, 0.2) 0px 7px 29px 0px;
}
